.myevent p{
    color: black;
}
.myevents-container h2{
        margin: 10px;
        border-bottom: 1px solid blue;
        padding-bottom: 10px;
}
.component-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
        /* Optional: Adds space between items */
    padding: 20px;
        /* Optional: Adds padding around the grid */
}
.component-section p{
    color: black;
}